body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 175%;
	margin: 70px;
	padding: 5px;
	background: url(../res/bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	color: #72AEDE;
}

nav {
	text-align: center;
}

footer {    
        position: fixed;    
        left: 0;    
        bottom: 0;    
        width: 100%;    
        text-align: center;    
	border: 2px solid black;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	background: url(../res/swr.webp);
	color: white;
}    
    
footer a {    
	margin: 5px;
	padding: 5px;
	text-decoration: none;
}

.topnav {    
        overflow: hidden;
	border: 2px solid green;
	border-radius: 25px;
	background: url(../res/swr.webp);
}
    
.topnav a {    
        float: left;
        text-align: center;    
        text-decoration: none;    
        padding: 10px 12px;
        font-size: 17px;    
	color: white;
	border: 2px solid darkgreen;
}    
    
.topnav a:hover {    
        background-color: darkgreen;    
        color: black;
}    
    
.topnav a.active {    
        background-color: darkgreen;
        color: white;
}

@media only screen and (max-width: 600px) {    
        body {    
                margin: 30px;    
                padding: 2px;    
        }    
}
